# CMake Files

CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake

# CMake Headers

cmake.h
version.h

# General

*.o
*.a
*.so
*.db
*.log
*.exe
*.dll
*.pyc
__pycache__

# Server

deusmagi-server
server-custom.cfg
permissions-custom.cfg
src/loaders/*.c
lib
data
arch/dev/editor/pickmaps/*/*
arch/animations
arch/animtree
arch/archetypes
arch/artifacts
arch/atrinik.0
arch/bmaps
arch/facetree
arch/treasures
arch/factions
maps/interfaces/**/*.py
maps/python/InterfaceQuests.py
maps/python/Atrinik